# Node.js / React
frontend/node_modules/
frontend/.env
frontend/build/

# Java / Spring Boot
lex_events/target/
lex_events/.env
lex_events/.idea/
lex_events/*.iml

# OS / Editor junk
.DS_Store
Thumbs.db
*.log

# IntelliJ
.idea/
*.iml

# Logs
*.log